<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- <a
        href="#"
        [routerLink]="['/servers',5,'edit']"
        [queryParams]="{alllowEdit: '1'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>       -->

      <!-- Only allow editting is server id === 3 -->
      <a
        href="#"
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1': '0'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- gives an outlet for our child routes -->
    <router-outlet></router-outlet>
      <!-- <a routerLink="/servers">Reload Page</a>
     <button class="btn btn-warning"
      (click)="reloadPage()">
      Reload Page
    </button>
    <app-edit-server></app-edit-server>
    <hr>

     <app-server></app-server>   -->
  </div>
</div>

